@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  /*
   * Custom Scrollbar Utility
   * Provides a consistent, minimal scrollbar style for WebKit browsers,
   * with distinct appearances for light and dark themes.
   */
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-1;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-700;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  /*
   * Font Utility: El Messiri Bold
   * Applies the "El Messiri" font family with a bold (700) weight.
   */
  .el-messiri-bold {
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

}